
.course {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
}
.course h2 {
    color: #333;
}
.course p {
    color: #666;
}


.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.course {
    background-color: #f9f9f9;
    padding: 10px;
}

.course h2 {
    color: #333;
}

.course p {
    color: #666;
}


.course img {
    width: 100%; 
    height: auto; 
}
